<footer class="footer">
  <div class="content has-text-centered">
    <p>11ty Serverless Search Experiment by <a href="https://bryanlrobinson.com/">Bryan Robinson</a></p>
    <p>Built with <a href="https://algolia.com">Algolia</a>, <a href="https://netlify.com">Netlify</a>, and <a href="https://11ty.dev">11ty</a>.</p>
    <p><em>Disclaimer</em>: I'd still strongly recommend using a <a href="https://www.algolia.com/doc/guides/building-search-ui/what-is-instantsearch/js/?utm_source=social&utm_medium=twitter&utm_campaign=devrel&utm_id=11ty-serverless">JS-based approach for search</a> for optimal UX, but this works great as progressive enhancement!</p>
  </div>
</footer>
</body>
</html>