<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        .card-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 1.5rem;
            margin-bottom: 2rem;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

</head>

<body>
    <section class="hero mb-6" style="background-color: rgb(231, 248, 254);">
        <div class="hero-body">
            <h1 class="title"><a href="/">11ty Serverless Search</a></h1>

            <h2 class="is-size-3">
                An example of using 11ty serverless to build search results
            </h2>
            <p class="is-size-6 mb-5">The search below will query a "Serverless" route and run it through an <a href="https://algolia.com?utm_source=social&utm_medium=twitter&utm_campaign=devrel&utm_id=11ty-serverless">Algolia
                Index</a> to get the best results</p>
            <label class="label is-block">Search</label>
            <form class="field has-addons" action="/search/" method="GET">
                <div class="control">
                    <input id="search" class="input" name="query" type="text" placeholder="Try searching '11ty'">
                </div>
                <div class="control">
                    <button class="button is-info">
                        Search
                        </a>
                </div>
            </form>
        </div>

    </section>